.scrollContainer::-webkit-scrollbar {
  width: 12px;
}

.scrollContainer::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
